@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --popover: #ffffff;
  --popover-foreground: #0f172a;
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --secondary: #f1f5f9;
  --secondary-foreground: #1e293b;
  --muted: #f8fafc;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #2563eb;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #2563eb;
  --chart-1: #2563eb;
  --chart-2: #7c3aed;
  --chart-3: #0891b2;
  --chart-4: #4f46e5;
  --chart-5: #2dd4bf;
  --sidebar: #f8fafc;
  --sidebar-foreground: #1e293b;
  --sidebar-primary: #2563eb;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e2e8f0;
  --sidebar-accent-foreground: #2563eb;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #2563eb;
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.4rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 15px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 15px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 2px 15px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 2px 15px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 2px 15px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 2px 15px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 2px 15px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 15px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: -0.015em;
  --spacing: 0.25rem;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
  --card: #0f172a;
  --card-foreground: #f8fafc;
  --popover: #0f172a;
  --popover-foreground: #f8fafc;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --accent: #1e293b;
  --accent-foreground: #3b82f6;
  --destructive: #991b1b;
  --destructive-foreground: #f8fafc;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #3b82f6;
  --chart-1: #3b82f6;
  --chart-2: #8b5cf6;
  --chart-3: #06b6d4;
  --chart-4: #6366f1;
  --chart-5: #14b8a6;
  --sidebar: #020617;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #3b82f6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #1e293b;
  --sidebar-accent-foreground: #3b82f6;
  --sidebar-border: #1e293b;
  --sidebar-ring: #3b82f6;
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.4rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 25px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 25px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 4px 25px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm:
    0px 4px 25px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow:
    0px 4px 25px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow-md:
    0px 4px 25px 0px hsl(0 0% 0% / 0.3), 0px 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-lg:
    0px 4px 25px 0px hsl(0 0% 0% / 0.3), 0px 4px 6px -1px hsl(0 0% 0% / 0.3);
  --shadow-xl:
    0px 4px 25px 0px hsl(0 0% 0% / 0.3), 0px 8px 10px -1px hsl(0 0% 0% / 0.3);
  --shadow-2xl: 0px 4px 25px 0px hsl(0 0% 0% / 0.75);
}

body {
  letter-spacing: var(--tracking-normal);
}
